html, body {
    background-color: #fff;
	height: 100vh;
	position:fixed;
	margin: 0px;
}

#wrapper {
	height: 100vh;
	position: absolute;
	top: 0;
}

.site-logo {
	width: 220px;
	text-align: center;
	padding: 20px 0 20px 0;
}

#page-wrapper {
    padding: 0 0px;
	margin: 0 0 0 220px;
	padding: 0 0px;
	border-left: 1px solid #e7e7e7;
	height: 100vh;
	position:relative;
	width: calc(100vw - 220px);
	overflow-y:none;
}

#titulo-pagina {
	height: 25px;	
	font-size:1.2em;
	display: inline-block;
    vertical-align: bottom;
	width: calc(100vw - 220px);
	padding: 0 10px 0 10px;
	color: #fff;
}

.dropdown.activeProfile {
	list-style: none;
	padding: 10px 0 15px 10px;
}

#conteudo {
	height:calc(100vh - 30px);
	margin-left:10px;
	padding-right:10px;
	overflow-y:auto;
	background-color:#fff;
}

.fixed-table-container.table-no-bordered{
	border: 0px solid #ddd;
    border-radius: 0px;
    border-bottom: none;
}

.fixed-table-container {
	border:0px !important;
}

#formTransacoes.fixed-table-body {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: rgb(231, 231, 231);
	min-height:calc(100vh - 220px)!important;
}

.tabelaLinks {
	float:left;
	display: inline-block;
	margin-top:30px;
	margin-left:4px;
}


/*
Menu lateral
*/
.sidebar {
	z-index: 1;
	position: absolute;
	width: 220px;
	margin-top: 0px;
	height: 100vh;
	overflow-y:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color:#fcfcfc;
}

#side-menu h6 {
	color:#aaa;
	margin-left: 15px;	
	margin-top: 15px;
	margin-bottom: 5px;
}

.sidebar tr a,
.sidebar li a {
	color: #777;
}

.sidebar .nav-second-level,ul {
	padding: 0;
}
.sidebar .nav-second-level li {
	padding-left: 40px;
}

.dashboard-title {
	background-color: #FFDC00;
}

.orcamento-title {
	background-color: #4F8EE6;
}

.investimentos-title {
	background-color: #A8E628;
}

.adm-title {
	background-color: #FF939D;
}

.dashboard {
	border-right-color: #FFDC00;
	border-right-style: solid;
	border-right-width: 4px;
}
.dashboard>a:focus,
.dashboard.active>a,
.dashboard>a:hover {
	background-color: #FFDC00!important;
	color:#fff;
}

.orcamento {
	border-color: #4F8EE6;
	border-right-style: solid;
	border-width: 4px;
}
.orcamento>a:focus,
.orcamento.active>a,
.orcamento>a:hover {
	background-color: #4F8EE6!important;
	color:#fff;
}

.investimentos {
	border-right-color: #A8E628;
	border-right-style: solid;
	border-right-width: 4px;	
}
.investimentos>a:focus,
.investimentos.active>a,
.investimentos>a:hover {
	background-color: #A8E628!important;
	color:#fff;
}

.adm {
	border-right-color: #FF939D;
	border-right-style: solid;
	border-right-width: 4px;	
}
.adm>a:focus,
.adm.active>a,
.adm>a:hover {
	background-color: #FF939D!important;
	color:#fff;
}
/*
.sidebar a:focus,
.sidebar a:hover,
.sidebar .nav-second-level li:hover {
	background-color: rgb(34, 34, 34)!important;
	color: #fff!important;
	text-decoration: underline;
}
*/

.sidebar .usuario {
	position:absolute;
	width:100%;
	bottom:0;
}

.listaContas {
	width: 100%;
	font-size: 0.98em;
}

.listaContas tr:hover {
	background-color: #000;
	text-decoration: none;
}

.listaContas .nome {
	width:80%;
	padding-left:20px;
}

.listaContas .valor {
	text-align: right;
	width: 20%;
	padding-left: 8px;
	padding-right: 8px;
	white-space: nowrap;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
	margin-left: auto;
}


.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-xs {
    width: 15px;
    height: 15px;
    padding: 0 0;
    border-radius: 15px;
    font-size: 8px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.semBorda {
	border-bottom:0px !important;
}

.fundoNavBar {
	background-color: rgb(38, 92, 136);
	height: 67px; 
}

.fundoNavBar .fundoNavBar-vertical {
	position: absolute;
	top: -10%;
	margin-left: 275px;
}

.fundoNavBar-vertical.fixed {
	position: absolute;
	background-color: #fff;
	padding-bottom: 2px;
	width:100%;
	z-index: 1;
	display:block;
}

.budgetDisplay {
	width: 100%;
	display:block;
	padding-top: 75px;
	height:100%;
	overflow:hidden;
}

.input_account {
	color: #000;
	width: 100%;
	z-index: 1003;
}

.modal-dialog {
	z-index:4001;
}

.bigdrop {
    width: 600px !important;
}

.tipDireita {
	margin-top:20px;
	position: relative;
	background: #27ae5f;
	padding-left: 9px;
	padding-right: 5px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
}

.tipDireita span {
	font-size:1.5em;
	display: table-cell;
    vertical-align:middle;
    text-align:center;
	color: #fff;
}

.tipDireita:after {
	left: 100%;
	top: 0%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 174, 95, 0);
	border-left-color: #27ae5f;
	border-width: 20px;
	border-height: 20px;
}

.exibeInformacoes {
	top:20px;
	left: 100%;
	margin-left:25px;
	/*position: absolute;*/
	height: 40px;
	display: inline-block;
	text-align: center;
	color: #000;
}

.exibeInformacoes .Divisor {
	font-family: 'Lato',Arial,'Helvetica Neue',Helvetica,sans-serif;
	font-size: 18px;
	font-weight:bold;
	font-style: italic;
	color: #888;
}
.exibeInformacoes .Titulo {
	color:#000;
}

.exibeInformacoes .SaldoNeg,
.exibeInformacoes .SaldoPos {
    font-family: 'Lato',Arial,'Helvetica Neue',Helvetica,sans-serif;
	font-size: 18px;
	font-weight:bold;
}

.exibeBudget {
	margin: 10px 15px 0 0;
	position:absolute;
	width:600px;
	height:60px;
	display:inline-block;
}

.tipDireita span {
	font-size:1.5em;
	display: table-cell;
    vertical-align:middle;
    text-align:center;
	color: #fff;
}

.exibeBudget .valorBudget:after {
	left: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(39, 174, 95, 0);
	border-width: 15px;
	border-height: 80%;
}

.exibeBudget .valorBudget span {
	display: block;
    vertical-align:middle;
    text-align:center;
	padding: 0px 5px 0px 5px;
}

.exibeBudget .valorBudget .valor {
	font-size:1.5em;
	color: #fff;
}

.exibeBudget .valorBudget .descricao {
	font-style: italic;
	margin-top: -15px;
}

.exibeBudget .valorBudget {
	border-radius:5px;
	position: relative;
	padding-left: 9px;
	padding-right: 5px;
	height:100%;
	line-height: 40px;
	display: inline-block;
	float:left;
	min-width:100px;
}

.exibeBudget .valorBudget.positivo {
	background: #27ae5f;
}

.exibeBudget .valorBudget.negativo {
	background: #d33c2d;
}

.exibeBudget .valorBudget.positivo:after {
	border-left-color: #27ae5f;
}
.exibeBudget .valorBudget.negativo:after {
	border-left-color: #d33c2d;
}

.exibeBudget .informacoesBudget {
	float:left;
	display:inline-block;
	left:100%;
	margin-left:25px;
}

.exibeBudget .informacoesBudget .valor{
	text-align: right;
	padding-right: 10px;
}

.exibeBudget .informacoesBudget .descricao{
	font-style: italic;
}

.exibeInformacoes .SaldoPos {
	color: #5bbe72;
}

.exibeInformacoes .SaldoNeg {
    color: #e0766c;
}

.pontaEsquerda {
	position:absolute;
	margin-left:25px;
}

.pontaEsquerda ul {
	border-width: 0px!important;
	padding: 15px;
	border-radius: 0px!important;
	width:270px;
}

.pontaEsquerda:before {
	left: -15px;
	top: 2px;
	position:absolute;
	width: 0;
	height: 0;
	content: " ";
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
	z-index:1001;
}

#editaCatGrupo .apagar,
#adicionaCatItem .apagar {
	font-size:1.4em;
	float:right;
	padding:2px;
	display:none;
}

#editaCatGrupo.editar .apagar,
#adicionaCatItem.editar .apagar {
	display:inline;
}

.dropCima {
	position: absolute;
	top: calc(100% + 15px);
	background: #ffffff;
	border: 1px solid rgb(190,190,190);
	padding: 10px;
	text-align: right;
}
.dropCima:after, .dropCima:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropCima:after {
	border-color: rgba(190, 190, 190, 0);
	border-bottom-color: #ffffff;
	border-width: 20px;
	margin-left: -20px;
}
.dropCima:before {
	border-color: rgba(190, 190, 190, 0);
	border-bottom-color: rgb(190,190,190);
	border-width: 21px;
	margin-left: -21px;
}

#conta_nome .nome_contas{
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}
#conta_nome .conteudo{
  margin: 0 20px 5px 20px;
  padding: 3px 0;
}

#tbTransacoes tr td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.8em;
  font-family: 'Helvetica Neue',Helvetica;
}

.transacao {
	width: 100%;
}

/* typeahead */
.tt-menu,
.gist {
  text-align: left;
}

.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
	background-color: rgb(0,0,0);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.typeahead.dropdown-menu {
z-index: 1051;
overflow-y: hidden;
}

.tt-menu {
  width: 250px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  position: absolute;
}
.tt-open:before,
.tt-menu:before {
	content:"aa";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 20px 15px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	top: -15px;
	left: 20%;
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

#tbBudgets {
	
}

#tbBudgets .sumaria td {
	background-color: #e5f5f9;
}

#tbBudgets .filha > .categoria {
	padding-left: 25px;
}

#tbBudgets .orcado,
#tbBudgets .gasto,
#tbBudgets .disponivel {
	text-align: right;
}

#tbBudgets .sumaria .orcado {
	padding-right:19px;
}

.disponivel .zero,
.disponivel .maiorZero,
.disponivel .menorZero {
	color: #fff;
	border-radius: 10px;
	padding: 2px 8px 2px 8px;
}

.disponivel .zero {
	background-color: #cfd5d8;
}

.disponivel .menorZero {
	background-color: rgb(255, 199, 206);
	color: rgb(156,0,6);
}

.disponivel .menorZero.prox {
	font-family: "Glyphicons Halflings";
    content: "\e435";	
}

.disponivel .maiorZero {
	background-color: #138b2e;
}

#tbBudgets .linkOculto {
	display:none;
}

#tbBudgets tr:hover .linkOculto {
	display:inline;
	text-style: none;
	text-decoration: none;
	padding-left:1px;
}

#tbBudgets a.linkOculto:hover {
	text-decoration:none;
}

#tbBudgets a.grupoSumario {
	color: #000;
	text-decoration: none;
}

#tbBudgets a.grupoSumario:hover{
	text-decoration: none;
}
#tbBudgets .grupoSumario:before {
	font-family: "Glyphicons Halflings";
    content: "\e252";	
	font-size: 0.8em;
	padding-right:1px;
}

#tbBudgets .grupoSumario.collapsed:before {
	font-family: "Glyphicons Halflings";
    content: "\e250";
	font-size: 0.8em;
	padding-right:1px;
}

.mesAno {
	display:inline-block;
}

.mesAno input {
	background: none;
	border: none;
	width: 75px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1.6em;
	font-weight: bold;
	color: #333;
	padding:0px;
	margin-left: 2px;
}

.mesAno .dpdown {
	font-size: 1em;
	left: -5px;
}

.mesAno span {
	font-size: 1.5em;
	color: #009cc2;
}

.mesAno span:hover{
	color: #23b2ce;
}

.budgetLinks {
	width: calc(100vw - 270px);
	padding: 5px 5px 5px 15px;
	border-bottom:1px;
	height:30px
}

.conteudo {
	padding-left: 25px;
	padding-right:20px;
	width: calc(100vw - 270px);
	height: calc(100vh - 50px);
	overflow-y:auto;
	overflow-x:hidden;
}

.budgetConteudo {
	position: relative;
	height: calc(100% - 25px);
}

.budgetTabela {
	width: 60vw;
	border-style: solid;
	border-width:1px 0px 0px 0px;
	border-color: rgb(231, 231, 231);
	overflow-y:visible;
	position:relative;
	height:100%;
}

#formOrcamentos,
.bootstrap-table,
.budgetTabela .fixed-table-container {
	height:100%!important;
}

.budgetMenuDireito {
	width: calc(40vw - 240px);
	height: calc(100vh - 120px - 30px);
	position:absolute;
	right:0;
	top:0;
	border-style: solid;
	border-width:1px 0px 0px 1px;
	border-color: rgb(231, 231, 231);
	background-color: #e5f5f9;
}

.budgetMenuDireito #panelResumo {
	height: 230px;
}

.budgetMenuDireito #panelGastos {
	height: calc(100vh - 120px - 30px - 230px);
}

#panelGastos #resultados {
	width: calc(100% + 30px);
	margin:-15px;
}

.budgetMenuDireito #panelGastos #resultados td {
	padding: 3px;
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color:#ddd;
	font-size:0.9em;
}

.budgetMenuDireito #panelGastos #resultados th {
	background-color: #fafafa;
	padding: 3px;
	font-size:0.8em;
}

.budgetMenuDireito #panelGastos #semGastos {
	color:#555;
	text-align:center;
	padding:20px;
}
.budgetMenuDireito #panelGastos #emoticon {
	font-family: 'Lato',Arial,'Helvetica Neue',Helvetica,sans-serif;
	font-size: 3.6em;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	writing-mode: tb-rl;
}


#adicionaCatItem {
  position: absolute;
  display:none;
}

#orcado {
	width:100px;
	text-align: right;
	border:0px;
	background-color: transparent;
	padding-right:10px;
}

#orcado:focus,
#tbBudgets tr:hover #orcado {
	border:1px solid #009cc2!important;
	border-radius:15px!important;
	background-color: #fff;
}

.legendaBudget .barra {
	height:20px;
	overflow:hidden;
	width:20px;
	display:inline-block;
}

.legendaBudget .valor,
.legendaBudget .descricao {
	display:inline-block;
	float:top;
}

.valor,
.valores {
	text-align: right;
}

.select2-container {
  width:100%;   
  height:38px;
}
 
.select2-container a.select2-choice {
  font-size: 14px;
  height: 38px;
  padding: 8px 12px;
  line-height: 1.42857;
}
 
.select2-container .select2-choice .select2-arrow {
  padding-top:6px;
}

.select2-selection {
	height:33px!important;
	border-color: rgb(204, 204, 204)!important;
}

FIELDSET {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}
FIELDSET > LEGEND{
    padding-left: 2px;  
	padding-right: 2px;
	width: inherit;
	font-size: inherit;
	border-bottom: 0;
	margin:0;
	font-weight:bold;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: #ccc!important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
	marging: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}